  <h1>
  List of all directors
</h1>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <tr>
    <td>
      4027
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/6U1eHg30snkOhSM9WJT2asAesR9.jpg" style="width:250px;">
    </td>

    <td>
      Frank Darabont
    </td>

    <td>
      1959-01-28
    </td>

    <td>
      <a href="/directors/4027">
        Show details
      </a>
    </td>
  </tr>
  
  <%= Director.all %>